.todo-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border: solid 2px red;
  margin-bottom: 12px;
}
.todo-item__title {
  &--completed {
    text-decoration: line-through;
  }
}